/* .colorFondo {
    background-color: #282a29;
} */

/* .nav-link {
    color: #e8e34c;
} */

main {
    background-color: #282a29;
}

footer {
    background-color: #282a29;
}

.color {
    color: #e8e34c;
}

.logo {
    height: 150px;
}

.limiteMenu {
    border-bottom: 1px #e8e34c solid;
    height: 155px;
}

.gorilas {
    color: #e8e34c;
}

.sobreNosotros {
    border: 4px white solid;
    padding: 10px;
    margin-left: 40px;
    width: 500px;
    display: inline-block;
}


/* CAROUSEL */

.carousel-item {
    height: 500px;
}

.carousel {
    height: 500px;
    width: 500px;
    display: inline-block;
}
/* Contacto */

form {
    color: #e8e34c;
}

footer {
    border-top: 1px #e8e34c solid;
}

.derechos {
    display: inline-block;
}


/* MENU */

.hamburguesasMenu {
    height: 200px;
}
