/*CONTACTO*/
.border {
    margin: 15%;
    margin-top: 3rem;
    margin-bottom: 0rem;
    .cuadroContacto {

        margin: 0.5rem;
        margin-top: 0;
        margin-bottom: 0;

        .enviar {
            margin-top: 0.5rem;
        }
    
    }

}
