/*estilos generales*/
html {

    body {
        background-color: $color-fondo;
        color: $color-fuentes;
        font-family: 'Sono', sans-serif;
    }

    min-height: 100%;
    position: relative;

    overflow-x: hidden;
}

.intro {

    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}