/*INICIO*/



.contenedor {
    .sobreNosotros {
        border: 0.1rem solid $color-fuentes;
        border-radius: 0.6rem;
        height: max-content;
        padding: 1%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 5%;
        margin-top: 0;

        @media (min-width: 768px) and (max-width: 991px) {
            .logo {
                margin-left: 25%;
                margin-right: 25%;
            }
        }

        .instagram {
            color: #f1e74d;
        }

        .logo {
            .fotoLogo {
                max-width: 100%;
            }
            
        }
    }
    
}

