/*INICIO*/
.sobreNosotros {
    border: 0.1rem solid $color-fuentes;
    border-radius: 0.6rem;
    max-width: 50rem;
    
}

.carousel {
    max-width: 50rem;
    max-height: 50rem;
    
    .img {
        max-height: 50rem;
        max-width: 50rem;
    }
    
}

