/*MENU*/

.introMenu {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-body {
    background-color: #414443;

}

.color {
    color: white;
    margin: 2rem;
}
